/*Reset de estilos por defecto del navegador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  margin-top: 3.5rem;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-auto-rows: auto;
  /*ESTILOS HEADER*/
  /*ESTILOS FOOTER*/ }
  body header {
    grid-area: header;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.899);
    z-index: 1;
    /*Estilos Logotipo*/
    /*Estilos elementos de barra de navegacion*/ }
    body header .logo {
      width: 90%;
      justify-self: flex-start;
      align-self: center;
      margin-left: 2%; }
      body header .logo .logo__img {
        height: 3.5rem; }
    body header .navBarcss {
      justify-items: flex-end;
      background-color: rgba(230, 230, 230, 0.171);
      /*Estilos enlaces*/ }
      body header .navBarcss .enlaces {
        text-decoration: none;
        color: black;
        font-family: 'Nunito Sans';
        font-size: 1.1rem;
        font-weight: 500;
        text-align: right; }
        body header .navBarcss .enlaces .enlaces:hover {
          color: #ed1c24; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer;
    width: 100vw;
    display: grid;
    background-color: rgba(0, 0, 0, 0.964);
    height: max-content;
    grid-template-areas: "content ." "cred cred";
    grid-template-columns: 70% 30%;
    grid-template-rows: 85% 15%;
    margin-top: auto;
    /*Estilos de BLOQUE que contiene texto de derechos reservados*/ }
    body footer .footer__content {
      grid-area: content;
      display: flex;
      width: 100vw;
      height: 100%;
      justify-content: flex-start;
      /*Estilos de BLOQUE que contiene botones a redes sociales*/
      /*Estilos de BLOQUE que contiene info de contacto*/ }
      body footer .footer__content .footer__img {
        grid-area: logo;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin-right: 2%;
        /*Estilos de BLOQUE que contiene logo en footer*/ }
        body footer .footer__content .footer__img .footer__logoContainer {
          margin: 1rem;
          /*Estilos de logo en footer*/ }
          body footer .footer__content .footer__img .footer__logoContainer .logoContainer__image {
            width: 5.5rem;
            padding: 1%; }
      body footer .footer__content .footer_sn {
        align-self: center;
        justify-self: flex-start; }
        body footer .footer__content .footer_sn .bottomButtons__icon {
          width: 2rem;
          height: auto;
          margin: 2%; }
      body footer .footer__content .footer_info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /*Estilos de BLOQUE que contiene lista en info de contacto*/ }
        body footer .footer__content .footer_info .info__list {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          /*Estilos elementos de lista en info de contacto*/ }
          body footer .footer__content .footer_info .info__list .list__elementFooter {
            font-family: 'Nunito Sans';
            list-style-type: none;
            color: #e0e0e0;
            font-size: 0.85rem;
            font-weight: 400;
            text-align: justify; }
    body footer .footer__rights {
      grid-area: cred;
      height: 100%;
      background-color: #18181844;
      display: flex;
      justify-content: center;
      /*Estilos de texto de derechos reservados*/ }
      body footer .footer__rights .rights__text {
        font-family: 'Nunito Sans';
        color: rgba(143, 142, 142, 0.352);
        font-size: 0.8rem;
        text-align: center; }

/*Estilos INDEX.HTML*/
main .index__main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*Estilos BLOQUE que contiene seccion principal*/
  /*ESTILOS SECTION 2*/
  /*ESTILOS SECTION 3*/ }
  main .index__main .indexContent {
    display: grid;
    grid-template-areas: "para .";
    grid-template-columns: 50% 50%;
    background-image: url(../img/index__background.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 70rem; }
    main .index__main .indexContent .indexContent__article {
      grid-area: para;
      align-self: center;
      /*Estilos de parrafo en seccion principal*/
      /*Estilos de enlace en seccion principal*/ }
      main .index__main .indexContent .indexContent__article .article__words {
        width: 100%;
        padding: 0% 10% 0% 10%;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
        color: #fcfcfc;
        font-style: italic; }
      main .index__main .indexContent .indexContent__article .enlaceMain {
        display: block;
        text-decoration: none;
        background-color: none;
        color: #ed1c24;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700; }
  main .index__main .main__section2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    background: linear-gradient(0deg, white 0%, #e4e4e4 25%, #e0e0e0 50%, #e9e9e9 75%, white 100%);
    margin-top: 3%;
    /*ESTILOS bloque que contiene TITULO SECTION 2*/
    /*Estilos bloque que contiene cards de productos destacados*/ }
    main .index__main .main__section2 .desarrollos__banner {
      margin-bottom: 1%;
      width: 100vw;
      display: flex;
      height: 3rem;
      background-image: url(../img/banner.png);
      background-repeat: no-repeat;
      grid-template-areas: "banner__img desarrollo__mainHeader"; }
      main .index__main .main__section2 .desarrollos__banner .desarrollos__mainHeader {
        background-color: #ed1c23cb;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito Sans", sans-serif;
        color: #edeaea;
        font-size: 1.5rem;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        background-repeat: no-repeat; }
      main .index__main .main__section2 .desarrollos__banner .banner__img {
        opacity: 15%;
        width: 80%; }
    main .index__main .main__section2 .section2__words {
      grid-area: is2_words;
      display: flex;
      flex-direction: column; }
      main .index__main .main__section2 .section2__words .section2__header {
        text-align: center;
        align-self: CENTER;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 800; }
    main .index__main .main__section2 .section2__high {
      grid-area: is2_img;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-top: 1%;
      /*Estilos de cards de productos destacados*/ }
      main .index__main .main__section2 .section2__high .index__card {
        background-color: rgba(236, 236, 236, 0.11);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30rem;
        /*Estilos de titulo de producto*/
        /*Estilos de BLOQUE que contiene imagen de producto*/
        /*Estilos para elementos LI en especificaciones de productos destacados*/ }
        main .index__main .main__section2 .section2__high .index__card .index__cardTitle {
          background-color: #b7b7b70e;
          margin-top: 3%;
          width: 100%;
          text-align: center;
          font-family: 'Nunito Sans', sans-serif;
          font-size: 1.15rem;
          font-weight: bold;
          color: #ed1c24;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center; }
        main .index__main .main__section2 .section2__high .index__card .index__cardImg {
          width: 90%;
          max-height: 18rem;
          padding: 5%;
          border-radius: 10%;
          object-fit: cover; }
        main .index__main .main__section2 .section2__high .index__card .card__info .card__infoItem {
          font-family: 'Nunito Sans', sans-serif;
          font-size: 1.1rem;
          list-style-type: none;
          font-weight: bold;
          text-align: center; }
  main .index__main .main__section3 {
    display: grid;
    height: fit-content;
    width: 100vw;
    grid-template-areas: "is3_banner is3_banner" "is3_words is3_img" "is3_specs is3_img";
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 15% 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    background: linear-gradient(0deg, white 0%, #e7e7e7 15%, #ececec 50%, #e7e7e7 85%, white 100%);
    /*Estilos de BLOQUE que contiene titulo y subtitulo de seccion*/
    /*Estilos de BLOQUE que contiene info en seccion 3*/ }
    main .index__main .main__section3 .desarrollos__banner {
      grid-area: is3_banner;
      width: 100vw;
      display: flex;
      height: 3rem;
      background-image: url(../img/banner.png);
      background-repeat: no-repeat;
      grid-template-areas: "banner__img desarrollo__mainHeader"; }
      main .index__main .main__section3 .desarrollos__banner .desarrollos__mainHeader {
        background-color: #161615cb;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito Sans", sans-serif;
        color: #e0e0e0;
        font-size: 1.5rem;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        background-repeat: no-repeat; }
      main .index__main .main__section3 .desarrollos__banner .banner__img {
        opacity: 15%;
        width: 80%; }
    main .index__main .main__section3 .section3__words {
      grid-area: is3_words;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      /*Estilos de sub-titulo en seccion 3*/ }
      main .index__main .main__section3 .section3__words .section3__subHeader {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
        width: 100%;
        text-align: center; }
    main .index__main .main__section3 .section3__images {
      grid-area: is3_img;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      main .index__main .main__section3 .section3__images .section3__pic {
        width: 28rem; }
    main .index__main .main__section3 .section3__specs {
      grid-area: is3_specs;
      font-family: 'Nunito Sans', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: top;
      /*Estilos de lista que contiene info en seccion 3*/ }
      main .index__main .main__section3 .section3__specs .section3__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*Estilos de elementos de lista que contiene info en seccion 3*/ }
        main .index__main .main__section3 .section3__specs .section3__list .section3__itemsM {
          list-style-type: none;
          font-family: 'Nunito Sans', sans-serif;
          font-size: 1.2rem;
          font-weight: 700; }
        main .index__main .main__section3 .section3__specs .section3__list .section3__items {
          list-style-type: none;
          font-size: 1rem;
          color: #ed1c24; }

/*Estilos TIENDA.HTML*/
main .store__main {
  height: 40rem;
  display: flex;
  flex-direction: column; }
  main .store__main .store__title {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    background-color: #a5a5a515;
    margin-top: 3rem; }
  main .store__main .store__section {
    display: flex;
    flex-wrap: wrap;
    background: white;
    background: linear-gradient(0deg, white 0%, #e4e4e4 25%, #e0e0e0 50%, #e9e9e9 75%, white 100%);
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    /*Estilos de BLOQUE que contiene productos en tienda */ }
    main .store__main .store__section .store__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1%;
      /*Estilos de titulo de producto*/
      /*Estilos de BLOQUE que contiene imagen de producto*/ }
      main .store__main .store__section .store__card .store__cardTitle {
        background-color: #b7b7b709;
        margin-top: 3%;
        width: 100%;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.15rem;
        font-weight: 800;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #464646; }
      main .store__main .store__section .store__card .store__cardImg {
        width: 30rem;
        padding: 1%;
        border-radius: 10%; }
      main .store__main .store__section .store__card .store__cardInfo .store__infoItem {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.1rem;
        list-style-type: none;
        font-weight: bold;
        text-align: center;
        color: #464646; }

/*Estilos SUB-TIENDA.HTML*/
main .subStore__main {
  height: auto;
  display: flex;
  flex-direction: column; }
  main .subStore__main .subStore__title {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    background-color: #c5c5c515;
    margin-top: 2%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  main .subStore__main .subStore__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; }
    main .subStore__main .subStore__section .subStore__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1%;
      background-color: #aaa9a909;
      border-radius: 5%;
      /*Estilos de titulo de producto*/ }
      main .subStore__main .subStore__section .subStore__card .subStore__cardTitle {
        margin-top: 3%;
        width: 100%;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.15rem;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f30000cb;
        background-color: #46464605;
        height: 100%; }
      main .subStore__main .subStore__section .subStore__card .subStore__cardImg {
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      main .subStore__main .subStore__section .subStore__card .subStore__img {
        width: 20rem;
        padding: 3%;
        border-radius: 15%; }

/*Estilos DESARROLLOS.HTML*/
main .desarrollos__section {
  background: linear-gradient(0deg, white 0%, #e4e4e4 25%, #e0e0e0 50%, #e9e9e9 75%, white 100%);
  /*Estilos de BLOQUE que contiene texto e imagenes en seccion desarrollos*/ }
  main .desarrollos__section .desarrollos__banner {
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    height: 4.5rem;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    grid-template-areas: "banner__img desarrollo__mainHeader"; }
    main .desarrollos__section .desarrollos__banner .desarrollos__mainHeader {
      background-color: #ed1c23cb;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Nunito Sans", sans-serif;
      color: #edeaea;
      font-size: 1.5rem;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      background-repeat: no-repeat; }
    main .desarrollos__section .desarrollos__banner .banner__img {
      opacity: 15%;
      width: 80%; }
  main .desarrollos__section .desarrollos__content {
    width: 100vw;
    display: grid;
    grid-template-areas: "header header" "txt img";
    grid-template-rows: 10% 90%;
    grid-template-columns: 40% 60%;
    /*Estilos de titulo de articulo en seccion desarrollos*/
    /*Estilos de texto en articulo de seccion desarrollos*/
    /*Estilos de BLOQUE que contiene imagen de articulo en seccion desarrollos*/ }
    main .desarrollos__section .desarrollos__content .desarrollos__header {
      grid-area: header;
      font-family: "Nunito Sans", sans-serif;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: left; }
    main .desarrollos__section .desarrollos__content .desarrollos__paragraph {
      grid-area: txt;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 20px; }
    main .desarrollos__section .desarrollos__content .desarrollos_imageBlock {
      grid-area: img; }
      main .desarrollos__section .desarrollos__content .desarrollos_imageBlock .desarrollos__img {
        width: 50%; }

/*-------ESTILOS CONTACTO.HTML---------*/
main div form .form__fieldset {
  margin-top: 1%; }
  main div form .form__fieldset .fieldset__title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: larger; }
  main div form .form__fieldset div .fieldset__label {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold; }
  main div form .form__fieldset div .fieldset__placeholder {
    width: 35%;
    padding: 12px 20px;
    margin: 8px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ed1c24;
    background-color: #f3f3f3; }
  main div form .form__fieldset div .fieldset__button {
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold; }

/*-------ESTILOS CLIENTES.HTML---------*/
main .club__main {
  display: flex; }
  main .club__main .club__card {
    margin: 2rem; }

/* Media Queries */
/* BREAKING POINT Tablets*/
@media screen and (max-width: 1023px) {
  body {
    min-height: 100vh;
    margin-top: 3.5rem; }
  /* mq INDEX*/
  main .index__main .indexContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../img/index__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100vw; }
  main .index__main .main__section3 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 1%;
    margin-bottom: 5%; } }

/* BREAKING POINT Telefonos*/
@media screen and (max-width: 480px) {
  html {
    font-size: 75%; }
  header .logo .logo__img {
    height: 3rem;
    width: 15rem; }
  main .index__main .main__section3 {
    margin-top: 8%; }
  main .index__main .indexContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../img/index__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 60rem; }
  footer {
    grid-area: footer;
    display: grid;
    background-color: rgba(0, 0, 0, 0.964);
    height: max-content;
    grid-template-areas: "content" "cred";
    grid-template-rows: 85% 15%;
    grid-template-columns: 1fr;
    margin-top: auto; }
    footer .footer__content {
      grid-area: content;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-start; }
    footer .footer__rights {
      width: 100%;
      display: flex;
      align-items: center; } }
