/*Reset de estilos por defecto del navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//IMPORTS

@import "utilities/var";
@import "utilities/layout";
@import "utilities/maps";
@import "utilities/mixins";
@import "utilities/extend";



/*Estilos INDEX.HTML*/

main{
    .index__main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        /*Estilos BLOQUE que contiene seccion principal*/
        .indexContent{
            display: grid;
            grid-template-areas: 
                                "para ."
                                ;
            grid-template-columns: 50% 50%;
            background-image: url(../img/index__background.png);
            background-repeat: no-repeat;  
            background-position: top center;
            height: 70rem;

            .indexContent__article{
                grid-area: para;
                align-self: center;

                /*Estilos de parrafo en seccion principal*/
                .article__words{
                    width: 100%;
                    padding: 0% 10% 0% 10%;
                    text-align: center;
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1.5rem;
                    color: rgb(252, 252, 252);      
                    font-style: italic; 
                    ;             
                }

                /*Estilos de enlace en seccion principal*/
                .enlaceMain{
                    display: block;
                    text-decoration: none;
                    background-color: none;
                    color: $main-color;     
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1.5rem;
                    text-align: center;
                    font-weight: 700;
                }
            }
        }
        
        /*ESTILOS SECTION 2*/
        .main__section2{
            width: 100vw;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 25%, rgba(224,224,224,1) 50%, rgba(233,233,233,1) 75%, rgba(255,255,255,1) 100%);
            margin-top: 3%;

                .desarrollos__banner{
                    @extend %bannerSize;
                    @include bannerLayout;
                            
                    .desarrollos__mainHeader{
                        @include banner-subLayout;
                        @extend %subBanner-style;
                        background-color: map-get($map:$banner-pri , $key: bn-bgcol);
                        color: map-get($map: $banner-pri , $key: bn-fontcol);
        
                    }
                    .banner__img{
                    @extend %banner-img;
                    }}
            
            /*ESTILOS bloque que contiene TITULO SECTION 2*/
            .section2__words{
                grid-area: is2_words;
                display: flex;
                flex-direction: column;

                .section2__header{
                    text-align: center;
                    align-self: CENTER;
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1.5rem;  
                    font-weight:800;
                }
            }
            /*Estilos bloque que contiene cards de productos destacados*/
            .section2__high{
                grid-area: is2_img;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding-top: 1%;

                /*Estilos de cards de productos destacados*/
                .index__card{
                    background-color: rgba(236, 236, 236, 0.11);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 30rem;
                    
                    /*Estilos de titulo de producto*/
                    .index__cardTitle{
                        background-color: #b7b7b70e;
                        margin-top: 3%;
                        width: 100%;
                        text-align: center;    
                        font-family: 'Nunito Sans', sans-serif;
                        font-size: 1.15rem;
                        font-weight: bold;
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .index__cardTitle:hover{
                    color: $main-color;}
                    /*Estilos de BLOQUE que contiene imagen de producto*/
                    .index__cardImg{
                        width: 90%;
                        max-height: 18rem;   
                        padding: 5%;  
                        border-radius: 10%;
                        object-fit:cover;
                    }
                    /*Estilos para elementos LI en especificaciones de productos destacados*/
                    .card__info{
                        
                        .card__infoItem{
                            font-family: 'Nunito Sans', sans-serif;
                            font-size: 1.1rem; 
                            list-style-type: none;   
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
        }
        
        /*ESTILOS SECTION 3*/
        .main__section3{
            display: grid;
            height: fit-content;
            width: 100vw;
            grid-template-areas: "is3_banner is3_banner"
                                "is3_words is3_img"
                                 "is3_specs is3_img";
            grid-template-columns: 40% 60%;
            grid-template-rows: 15% 15% 70%;
            margin-top: 5%;
            margin-bottom: 5%;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 15%, rgba(236,236,236,1) 50%, rgba(231,231,231,1) 85%, rgba(255,255,255,1) 100%); 
            
            .desarrollos__banner{
                @extend %bannerSize;
                @include bannerLayout;
                        
                .desarrollos__mainHeader{
                    @include banner-subLayout;
                    @extend %subBanner-style;
                    background-color: map-get($map:$banner-pri , $key: bn-seccol);
                    color: map-get($map: $banner-pri , $key: bn-secfont);
                }
                
                .banner__img{
                @extend %banner-img;
                }}

            /*Estilos de BLOQUE que contiene titulo y subtitulo de seccion*/
            .section3__words{
                grid-area: is3_words;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

            /*Estilos de sub-titulo en seccion 3*/           
            
                .section3__subHeader{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1.4rem;  
                    font-weight: 600;
                    width: 100%;
                    text-align: center;

                }
            }

            .section3__images{
                grid-area: is3_img;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(25, 25, 25);

                .section3__pic{
                    width: 42vw;
                    }

            }


            /*Estilos de BLOQUE que contiene info en seccion 3*/       
            .section3__specs{
                grid-area: is3_specs;
                font-family: 'Nunito Sans', sans-serif;
                display: flex;
                flex-direction: column;
                justify-content: top;

                /*Estilos de lista que contiene info en seccion 3*/    
                .section3__list{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    /*Estilos de elementos de lista que contiene info en seccion 3*/    
                    .section3__itemsM{
                        list-style-type: none;
                        font-family: 'Nunito Sans', sans-serif;
                        font-size: 1.2rem;
                        font-weight: 700;
                        
                    }
                    .section3__items{
                        list-style-type: none;
                        font-size: 1rem;
                        color: $main-color;
                    }
                }
            }
        }      
    }
}

/*Estilos TIENDA.HTML*/

main{

    .desarrollos__banner{
        @extend %bannerSize;
        @include bannerLayout;
        margin-top: 1rem;
                
        .desarrollos__mainHeader{
            @include banner-subLayout;
            @extend %subBanner-style;
            background-color: map-get($map:$banner-pri , $key: bn-seccol);
            color: map-get($map: $banner-pri , $key: bn-secfont);
        }
        
        .banner__img{
        @extend %banner-img;
        }}

    .store__main{
        height: max-content;
        display: flex;
        flex-direction: column;

        .store__title{
            text-align: center;    
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1.25rem;
            background-color: #a5a5a515;
            margin-top: 1rem;
        }

        .store__section{
            display: flex;
            flex-wrap: wrap;
          background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 25%, rgba(224,224,224,1) 50%, rgba(233,233,233,1) 75%, rgba(255,255,255,1) 100%);
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            margin-top: 3rem;
            margin-bottom: 3rem;

            /*Estilos de BLOQUE que contiene productos en tienda */
            .store__card{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1%;

                /*Estilos de titulo de producto*/
                .store__cardTitle{
                    background-color: #b7b7b709;
                    margin-top: 3%;
                    width: 100%;
                    text-align: center;    
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1.15rem;
                    font-weight: 800;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #464646;
                }

                .store__cardTitle:hover{
                    color:$main-color;
                }
                /*Estilos de BLOQUE que contiene imagen de producto*/
                .store__cardImg{
                    width: 30rem; 
                    padding: 1%;  
                    border-radius: 10%;
                }


                .store__cardInfo{
                    
                    .store__infoItem{
                        font-family: 'Nunito Sans', sans-serif;
                        font-size: 1.1rem; 
                        list-style-type: none;   
                        font-weight: bold;
                        text-align: center;
                        color: #464646;
                    }
                }
            }
        }
    }
}

/*Estilos SUB-TIENDA.HTML*/

main{

    .subStore__main{
        height: max-content;
        display: flex;
        flex-direction: column;
  

    .desarrollos__banner{
        @extend %bannerSize;
        @include bannerLayout;
        margin-top: 1rem;
                
        .desarrollos__mainHeader{
            @include banner-subLayout;
            @extend %subBanner-style;
            background-color: map-get($map:$banner-pri , $key: bn-seccol);
            color: map-get($map: $banner-pri , $key: bn-secfont);
        }
        
        .banner__img{
        @extend %banner-img;
        }}
        

        .subStore__section{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            margin-top: 3rem;
            margin-bottom: 3rem;
        
            .subStore__card{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1%; 
                background-color: #aaa9a909;
                border-radius: 5% ;

                /*Estilos de titulo de producto*/
                .subStore__cardTitle{
                    margin-top: 3%;
                    width: 100%;
                    text-align: center;    
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1.15rem;
                    font-weight: 800;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #f30000cb;
                    background-color: #46464605;
                    height: 100%;
                }

                .subStore__cardImg{
                    width: 20rem; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .subStore__img{
                    width: 20rem;
                    padding: 3%;  
                    border-radius: 15%;
                }

                .subStore__img:hover{
                    width: 21rem;
                }
            }
        }
    }
}

/*Estilos DESARROLLOS.HTML*/

main{
        
        /*Estilos de BLOQUE que contiene texto e imagenes en seccion desarrollos*/
        .desarrollos__content{
            width: 100vw;
            display: flex;
            flex-wrap: wrap;

            .desarrollos__us{
                width: 50vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            /*Estilos de texto en articulo de seccion desarrollos*/
            .desarrollos__paragraph{
                text-align: justify;
                font-family: 'Nunito Sans', sans-serif;
                font-size: 1.1rem;
                margin-top: 2%;
                width: 90%;
            }
            }
            /*Estilos de BLOQUE que contiene imagen de articulo en seccion desarrollos*/
            .desarrollos_imageBlock{
                grid-area: img;
                width: 50vw;
                padding: 1rem;
                align-self: center;
                justify-self: center;


                desar.rollos__img{
                }
            }

        }
    }


/*-------ESTILOS CONTACTO.HTML---------*/

main{
    div{
        form{
            .form__fieldset{
                margin-top: 1%;
                .fieldset__title{
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: bold;
                    font-size: larger;
                }
                div{
                    .fieldset__label{
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: bold;
                    }
                    .fieldset__placeholder{
                        width: 35%;
                        padding: 12px 20px;
                        margin: 8px;
                        font-family: 'Nunito Sans', sans-serif;
                        text-align: left;
                        font-weight: bold;
                        border-bottom: 2px solid $main-color;
                        background-color: rgb(243, 243, 243);
                    }
                }
                div{
                    .fieldset__button{
                        border: none;
                        color: white;
                        padding: 5px 10px;
                        text-decoration: none;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/*-------ESTILOS CLIENTES.HTML---------*/

main{
    .club__main{
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        
        .club__card{
            width: 100vw;
            height: 40rem;
            margin-top: 1rem;
            align-self: center;
            display: flex;
            flex-direction: column;
            background-image: url("https://i.ibb.co/yV43402/meeting.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border: none;

           .card__body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #0e0e0ebe;
                .card__bodyHeader{

                    .club__header1{
                        font-family: $font-main;
                        font-size: 3.5rem;
                        font-weight: 800;
                        display: inline;
                        color: $main-color;
                    }
                    .club__header2{
                        font-family: $font-main;
                        font-size: 3.25rem;
                        font-weight: 800;
                        display: inline;
                        color: rgb(215, 215, 215);
                    }
                }
                    .card__text{
                        font-family: $font-main;
                        width: 70vw;
                        font-size: 1.25rem;
                        text-align: center;
                        color: rgb(215, 215, 215);

            }   
            }
        }
    }

    .club__high{
        .club__offer{
            background-image: $section-gradient;

            .high__title{
                color:rgb(10, 10, 10);
                font-family: $font-main;
                font-size: 1.5rem;
                font-weight: 400;
                text-align: center;
                background-color: $banner-color;
            }

            .high__para{
                margin-left: 15vw;
                margin-right: 15vw;
                text-align: center;
                .high__info{
                    color:rgb(10, 10, 10);
                    font-family: $font-main;
                    font-size: 1.25rem;
                    text-align: center;
                    display: inline;
                    text-align: center;
                }
                .high__info2{
                    color:$main-color;
                    font-family: $font-main;
                    font-size: 1.25rem;
                    text-align: center;
                    display: inline;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
        
        .club__carousel{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2%;
            margin-bottom: 2%;
            .club__client{
                width: 80vw;
                .client__img{
                    width: 80vw;
                }
            }
        }
    }
        

        
    
}

@import "utilities/mq";