//ESTRUCTURA BASICA GRID + NAV & FOOTER

body{
    display: grid;
    grid-template-areas:"header"
                        "main"
                        "footer";
    grid-auto-rows: auto;
    min-height: 100vh;
    
    /*ESTILOS HEADER*/
    header{
        grid-area: header;  
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        background-color: rgba(230, 230, 230, 0.899);
        z-index: 1;
        
        /*Estilos Logotipo*/
        .logo{
            width: 90%;
            justify-self: flex-start;
            align-self: center;
            margin-left: 2%;

            .logo__link{
                outline: none;
                box-shadow: none;
                .logo__img{
                    height: 3.5rem;
                }
            
            .logo__link:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }

        /*Estilos elementos de barra de navegacion*/  
        .navBarcss{ 
            justify-items: flex-end;  
            background-color: rgba(230, 230, 230, 0.171);
            
            .hambIcon{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .hambIcon__style{
                    border: none;
                }

                .hambIcon__style:focus{
                    color: rgba(230, 230, 230, 0.171);
                }

                .hambIcon__style:hover{
                    color: rgba(230, 230, 230, 0.171);
                }
            }
            /*Estilos enlaces*/  
            .enlaces{
                text-decoration: none;
                color: black;     
                font-family: 'Nunito Sans'; 
                font-size: 1.2rem;
                font-weight: 500 ;
                text-align: right;
                }
                .enlaces:hover{
                    color: #ed1c24;
                    border: none;
                }
                .enlaces:focus{
                    outline: none !important;
                    box-shadow: none !important;
                }        
            }
    }

    main{
        grid-area: main;
        margin-top: 3.5rem;
    }

/*ESTILOS FOOTER*/
    footer{
        grid-area: footer;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.964);
        height: 10rem;


        .footer__content{
            grid-area: content;
            display: grid;
            grid-template-areas: "icon info sn";
            grid-template-columns: 15vw 25vw 60vw;
            
            .footer__img{
                grid-area: icon;
                display: flex;
                align-content: center;
                justify-content: center;
                margin-right: 2%;

                /*Estilos de BLOQUE que contiene logo en footer*/
                .footer__logoContainer{
                    margin-left: 2rem;
                    padding: 1rem;

                    /*Estilos de logo en footer*/
                    .logoContainer__image{
                        max-height: 8rem;     
                        }
                    }
            }
            /*Estilos de BLOQUE que contiene botones a redes sociales*/
            .footer_sn{
                grid-area: sn;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                
                .footer__snIcon{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                margin-right: 2.5rem;
                .bottomButtons__icon{
                    width: 2.25rem;
                    height: auto;
                }
                }
            }

            /*Estilos de BLOQUE que contiene info de contacto*/  
            .footer_info{
                grid-area: info;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                /*Estilos de BLOQUE que contiene lista en info de contacto*/
                .info__list{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    /*Estilos elementos de lista en info de contacto*/
                    .list__elementFooter{
                        font-family: 'Nunito Sans';
                        list-style-type: none;
                        color: rgb(224, 224, 224);
                        font-size: 1rem;
                        font-weight:400;
                        text-align: justify;
                    }
                }
            }   
        }
    
        /*Estilos de BLOQUE que contiene texto de derechos reservados*/
        .footer__rights{
            height: 1.2rem;
            background-color:#000000;
            display: flex;
            justify-content: center;
            
            /*Estilos de texto de derechos reservados*/
            .rights__text{
                font-family: 'Nunito Sans';
                color: whitesmoke;
                font-size: 0.75rem;
                text-align: center;
            }
        }
    }    
}

